* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

button {
    display: block;
}

button:not(:first-of-type) {
    margin-top: 15px;
}

input::placeholder {
    font-style: italic;
}
